h1 {
  font-family: 'Uncial Antiqua', cursive;
  color: aqua;
}
.jumbotron {
  background-color: black;
  opacity: 0.78;
}
#like {
  color: black;
}
#like:hover{
  color: white;
  box-shadow: 0 12px 6px 0 rgba(0,0,0,0.24), 0 17px, 50px, 0 rgba(0,0,0,0.19);
}
#dislike {
  color:  black;
}
#dislike:hover{
  color: white;
}
#toogle:hover {
  background-color: antiquewhite;
  color: black;
}
.card-deck {
  font-family: 'Kaushan Script', cursive;

}