<link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet">

<div class="container">
    <h1 class="jumbotron text-center"> Quotes From Us To Us </h1>
    <hr>
    
    <ol>
      <div class="card-deck">
        <div class="card" *ngFor='let quote of quotes;let i = index'>
    
          <div>
            <li class="card-title card-header" appHighlight>{{quote.submittedBy}}</li>
            <button id="toogle" class="btn btn-primary card-body" (click)='toogleDetails(i)'>Toogle Details</button>
            <app-quote-details *ngIf='quote.showDescription' [quote]='quote'>
            </app-quote-details>
            <br>
            <button id="like" (click)='up()' class="btn btn-success card-footer"> like </button>
            <br>
            <span>This quote has {{upvote}} likes</span>
            <br>
            <!-- <button id="dislike" (click)='down()' class="btn btn-danger card-footer"> dislike </button>
            <br> 
            <span>This quote has {{downvote}} dislikes</span>
          </div> -->
        </div>
      </div>
    </ol>
    <div class="container">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>
</div>


