<div class="container-fluid">
    <div class="card">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">

                <label for="quote">Quote:</label>
                <textarea class="form-control" id="desquo" rows="4" [(ngModel)]='newQuote.quote' name='quote' #quote='ngModel' required></textarea>
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <p> Quote is Required</p>
                    
                </div>

            </div>            
            <div class="form-group">

                <label for="name">Author:<input type="text" class="form-control" id="name" [(ngModel)]='newQuote.author' name='name' #name='ngModel' required ></label>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> Name is Required</p>
                    
                </div>

            </div>
            <div class="form-group">

                <label for="name">Submitted By:<input type="text" class="form-control" id="name" [(ngModel)]='newQuote.submittedBy' name='submittedBy' #submittedBy='ngModel' required></label>
                
                <div [hidden]="submittedBy.valid || submittedBy.pristine" class="alert alert-danger">
                    <p> Your name is Required</p>
                    
                </div>

            </div>
            <div class="form-group">
                <label for="submissionDate">Date: <input type='date' id="complete" [(ngModel)]='newQuote.submissionDate' name='submissionDate' #submissionDate='ngModel' required></label>
               
                <div [hidden]="submissionDate.valid || submissionDate.pristine" class="alert alert-danger">
                    <p> Your name is Required</p>
                    
                </div>
            </div>
            <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
        </form>
    </div>
</div>
